<div class="navbar">
    <div class="navlogo"></div>
    
    <div class="nav-menu">
        <div id="first" class="nav-item" (click)="navigate('first')"> Lorem</div>
        <div id="second" class="nav-item" (click)="navigate('second')">Lorem</div>
        <div id="third" class="nav-item" (click)="navigate('third')">Lorem</div>
        <div id="fourth" class="nav-item" (click)="navigate('fourth')">Lorem</div>
    </div>
    
    <button class="navbtn" (click)="login()">
        {{navbartext}}
    </button>
     
</div>
