.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    box-shadow: black;
}
.navlogo{
    border: 2px solid #fff;
    margin-top: 10vh;
    width: 15vh;
    height: 15vh;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    margin-top:-15vh;
}
.nav-item{
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 1vh 2vw;
    margin: 1vh 1vh;
    cursor: pointer;
}


.selected{
    font-weight: 500;
    color: #ffc42b;
    border-right:4px solid #ffc42b;
    border-radius: 4px;
    
}

.navbtn{
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom: 10vh;
    color: #fff;
    font-size: 20px;
    padding: 1vh 2vw;
    cursor: pointer;
}