<app-navbar></app-navbar>
<div class="container">
    <div class="title">User Page</div>
    
    <div class="cards-display">
        <div class="user-card">
            <div class="card-council">ITC</div>
            <div class="card-details">
                <div class="card-room">LA202</div>
                <div class="card-time">12th July 2022 12:20:20 - 12th July 2022 12:20:20</div>
            </div>
            <div class="card-reason">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus minima distinctio quo eos amet fuga reiciendis, molestiae ea, nisi deserunt dolorum pariatur nesciunt numquam perferendis quaerat non officiis cum alias ad temporibus!</div>
        </div>
        <div class="user-card"></div>
        <div class="user-card"></div>
        <div class="user-card"></div>
    </div>
    <div class="create-btn">+</div>
</div>