.container{
    width: 80%;
    left: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.title{
    padding:2vh 2vw;
    font-size: 30px;
    font-weight: 700;
}
.info-card{
    border-radius: 10px;
    width: 70%;
    height: 7.5vh;
    margin: 10vh 0;
    border: 2px solid red;
    align-self: center;
}
.cards-display{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10vh ;
}
.user-card{
    border-radius: 10px;
    width: 70%;
    height: max-content;
    margin: 2vh 0;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}
.card-council{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}
.card-room{  
    font-size: 20px;
    font-weight: 500;}
.card-time{
    font-size: 18px;
    font-weight: 500;
    color: gray;
}
.card-reason{
    font-size: 20;
}

.card-btn{
    background: none;
    border: 2px solid red;
    padding: 1vh 1vw;
    margin: 0 0.5vw;
    z-index: 4;
}
.create-btn{
    position: fixed;
    left: 90vw;
    top: 90vh;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    font-size: 2.5vw;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
